* {
	background-image: url("../images/tic-tac-toe.png");
}

h1 {
	margin: 0px;
}

#pics ul {
	list-style-type: none;
	margin: 0px;
}

#pics ul li {
	display: inline-block;
	border: 5px solid blue;
    padding: 5%;
    margin: 0px;
    position: relative;
}
